.music-name{
  font-size: 14px;
  font-style: italic;
}
.card{
  display: block;
  font-size: 25px;

  &:hover{
    box-shadow: 0px 20px 30px rgba(0,0,0,0.06);
    transform: translateY(-5px);
  }
  button{
    background: white;
    border: 0;
    border-radius: 10%;
  }
  .card-background{
    background: #f4f4f4;
  }
  .unliked{
    margin-left: 130px;
  }
  .btn{
    margin-top: 20px;
    display: none;
    min-width: 100px;
    font-family: inherit;
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #4676d7;
    color: #fff;
    padding: 8px 16px;
    font-size: 12px;
    cursor: pointer;
  }

  &:hover .music-time{
    display: none;
  }
  &:hover .music-download{
    display: block;
  }
  &:hover .music-delete{
    display: block;
    margin-left:150px ;
    background: red;
  }
  &:hover .music-play{
    display: block;
    margin-left:150px ;
    background: #FFD700;
  }

}