.body{
    width: 30%;
}

.form__add {
    width: 100%;
    margin-left: 250px;
}

.input__form {
    margin-top: 10px;
    width: 300px;
}

.submit__button {
    margin-top: 10px;
}
.img__music {
    width: 380px;
    height: 350px;
    margin-top: 10px;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
}
.image_add {
    margin-left: 40%;
    position: absolute;
}