.filter__icon {
    cursor: pointer;
    font-size: 25px;
    border: 0px;
    background: white;
}
.filter__content {
    display: none;
    position: absolute;
    background: white;
    height: 150px;
}
.filter__icon:focus + .filter__content{
    display: block;
}

.filter__content:hover{
    display: block;
}

.filter__block{
    margin-left: 10px;
    width: 50px;
}
.apply__button{
    margin-left: 54%;
    margin-top: 10px;
}