.music__progress {
    -webkit-appearance: none;
    width: 500px;
    height: 10px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-image: linear-gradient(black, gray);
    background-repeat: no-repeat;
}


.buffered {
    height: 8px;
    position: absolute;
    background: #555;
    width:0px;
    opacity: 0.5;
    border-radius: 10px;
}

.music__progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
    transition: background .3s ease-in-out;
}


.music__progress::-ms-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: black;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 black;
    transition: background .3s ease-in-out;
}

.div_progress {
    width: 1000px;
    display: flex;
    margin-left: 20px;
    margin-right: auto;
}
